.product{
    animation: slide-up .5s ease-in;
    transform: all .5s ease;
}

@keyframes slide-up {
    0%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(0);
    }
}